<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>Free Info</h1>
	<p>This application is use for your locl city info.</p>
  </div>
  
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<p>Featrue:</p>
		<ul>
			<li>A</li>
			<li>B</li>
			<li>C</li>
		</ul>
  </div>
</div>